
.menu{
    padding: 0;
    display: grid;
    grid-template-columns: repeat( auto-fit, minmax(350px,1fr));
    grid-gap: 20px 40px;
    margin-right: 220px; 
    transition: margin-right 0.3s ease-in-out; 
}


.food-items{
    display: grid;
    position: relative;
    grid-template-rows: auto 1fr;
    border-radius: 15px;
    box-shadow: 0 0 15px rgba(0,0,0,0.1);
    margin: 0 20px;
}

.food-items img{
    position: relative;
    width: 100%;
    border-radius: 15px 15px 0 0;
}

.details{
    padding: 20px 10px;
    display: grid;
    grid-template-rows: auto 1fr 50px;
    grid-row-gap: 15px;
}
.details-sub{
    display: grid;
    grid-template-columns: auto auto;
}

.price{
    color: red;
    text-align: right;
}

.details>p{
    color: #6f6f6f;
    font-size: 15px;
    line-height: 28px;
    font-weight: 400;
    align-self: stretch;
}

.order{
    background-color: #4593ce;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    width: 180px;
}


  #cartImage{
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #f1f1f1;
    padding: 10px;
    border-radius: 5px;
  }
  #cartContainer {
    position: fixed;
    top: 55px; /* Adjust the value as needed to position the cart container below the cart image */
    right: 0;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #ccc;
    width: 200px;
  }

  .li {
    list-style-type: none;
}
  

